*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
   scroll-behavior:smooth; 
}
body{
    background-color:#F5F5F5;
    overflow-x: hidden;
}
:root{
    --container-lg:100%;
    --container-md:90%;
    --container-sm:95%;
    --color-primary:#596CCE;
}
.btn{
    padding:0.5rem 1.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    margin: 2rem 0;
    border-radius: 4px;
}
.container{
    width: var(--container-lg);
    margin: auto;
   
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.logo_img{
    border: 1px solid green;
    /* border-radius: 50%; */
}
.nav{
    display: flex;
    gap: 1rem;
    z-index: 4;
   
}
a{
    text-decoration: none;
}
.links{
    color: black;
    font-weight: bolder;
}
.links:hover{
    color: gray;
    box-shadow: 0 0 2px 2px;
    padding: 0.5rem;
}
.links:active{
    color: #596CCE;
}
.list{
    list-style-type:none;
}
.menu{
    color: black;
}
.close{
    color: black;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.home{
    
    display: flex;
    margin-top: 1rem;
    padding: 0 2rem;
}

.left_home{
    width: 50%;
    display: flex;
    align-items: center;
    height: 80vh; 
    padding-left: 4rem;
}
.home_inner_wrapper{
 width: 60%;
 margin-left: 0px;
 text-align: left;
 
}
.homebigtext{
    font-size: 3rem;
    margin-bottom: 1rem;

}
.right_home{
    width: 50%;
    
    height: 80vh;
}
.background_circle{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(170, 166, 180, 0.402);
    opacity: 1;
    position: relative;
    top: -250px;
    right: 0px;
    z-index: -2;
    opacity: 1;
    
}

.home_img{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    bottom:50px ;
    z-index: -2;
    /* opacity: 0.7; */
   
}
/* ====================SERVICE================= */
.service{
    margin: auto;
}
.inner_service_container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.inner_service_container article{
    width: 20%;
    box-shadow: 1px 1px 1px 2px gray;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.5rem;
    border-bottom: 4px solid var(--color-primary);
    cursor: pointer;
}
.inner_service_container article:hover{
    background-color: var(--color-primary);
    border-bottom: 4px solid whitesmoke;
}
.service_text{
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
}
.inner_service_container article h3{
    padding: 0.3rem;
}
.inner_service_container article p{
    padding: 0.3rem;
}
.activearticle{
    background-color: var(--color-primary);
}
/* ===============SOLUTION================ */
.solution{
    margin-top: 2rem;
    /* border: solid; */
    display: flex;
    padding: 0 2rem;
}
.solution_img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 0px;
    bottom:0px ;
    z-index: -2;
}
.background_circle2{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(170, 166, 180, 0.402);
    opacity: 1;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: -2;
    opacity: 1;
}
.ordered_list{
    list-style:circle;
    counter-reset: list-counter;
}
.ordered_list li{
    counter-increment: list-counter; 
}
.each_solution_container{
    display: flex;
}
.each_solution_container li{
    list-style: none;
}
@media screen and (max-width:1024px) {
    .inner_service_container article{
        width: 30%;
     }
    .home_img{
        width: 400px;
        height: 400px;
    }
    .background_circle{
        width: 400px;
        height: 400px;
    }
    .home_inner_wrapper{
        width: 100%;
    }
}
@media screen and (max-width:769px) {
    .home_img{
        width: 350px;
        height: 350px;
    }
    .background_circle{
        width: 350px;
        height: 350px;
    }
    .right_home{
        display: none;
     }
     .left_home{
        width: 100%;
     }
     .inner_service_container {
        flex-wrap: wrap;
     }
     .inner_service_container article{
        width: 40%;
     }
}
@media screen and (max-width:540px) {
 .hambuger_container{
    display: block;
 }   
 .inner_service_container article{
    width: 95%;
 }
 .menu{
    display: block;
    cursor: pointer;
 }
 .nav{
    position: absolute;
    flex-direction: column;
    top: -200px;
    right: 0;
    background-color: rgb(35, 19, 107);
    width: 100%;
    height: auto;
    padding: 2rem;
    z-index: 3;
    transition: 1s ease-in-out;
    
 }
 .close{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
 }
 .active{
    top: 0px;
 }
 
 .links{
    color: antiquewhite;
 }
 
}